{
  "rules": {
    "no-unused-vars": ["error", { "args": "none" }],
    "no-console": 0,
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-empty": ["error", { "allowEmptyCatch": true }]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "after": true
  },
  "extends": "eslint:recommended"
}
