language: node_js
sudo: false
node_js:
  - "6"
  - "5"
  - "4"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - g++-4.9
before_install:
  - export CC="gcc-4.9" CXX="g++-4.9"
