environment:
  matrix:
    - nodejs_version: '16'
    - nodejs_version: '14'
    - nodejs_version: '12'
    - nodejs_version: '10'
    - nodejs_version: '8'
platform:
  - x86
matrix:
  fast_finish: true
install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install
test_script:
  - node --version
  - npm --version
  - npm test
build: off
